.info {
    font-size: 10pt;
    text-justify: none;
    display: inline-block;
}

.img-fluid {
    border: 2px solid #484953;
    background-color: #484953;
}

.research {
    margin-top: 25px;
}

body
{
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Nunito', sans-serif; */
  font-size: 12pt;
  color: #252525;
  width: 100%;
  background-color: #FEFEFE;
  padding: 50px;
  text-align: justify;
}

hr {
    border-color: #484953;
    opacity: 0.25;
}

ol {list-style-type: none; padding-left: 0;}
ol > li:before {content: "[" counter(section) "] "; font-weight: bold;}
ol > li { counter-increment: section;}

.text-link:link, .text-link:visited {
    background-color: #e9e9e9;
    color: #525252;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.text-link:hover {
    background-color: #c7e9c0;
    color: #238b45;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
}

.news-text {
    font-weight: bold;
    color: #ef6548;
    text-align: center;
}

.author-text {
    font-weight: bold;
    font-size: 12pt;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #fdd49e;
    color: #ef6548;
}

.publication-text {
    font-weight: bold;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #e9e9e9;
    color: #525252;
}

.content_container {
    max-width: 700px;
    margin: auto;
}

.color-link {
    font-size: 20pt;
    border-radius: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    background-color: #e9e9e9;
    color: #525252;
}

.color-link:hover {
    border-radius: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    background-color: #c7e9c0;
    color: #238b45;
}


.icon-link {
    font-size: 20pt;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    background-color: #FEFEFE;
    color: #525252;
}

.icon-link:hover {
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    background-color: #c7e9c0;
    color: #238b45;
}